@media (max-width: 1340px){
	.row-images{
		width: 64%;
		margin: 0px 40px;
	}
	.section2{
		width: 100%;
		margin: 41px 16px;
	}
	.col-img-left{
		float: none;
		padding: 0px 15px;
	}
	.col-img-right{
		float: none;
		padding: 0px 15px;
	}
	.right-img1{
		padding-left: 0px!important;
	}
	.right-img2{
		padding-left: 0px!important;
	}
}


@media (max-width: 1300px){
	.row-images{
		width: 66%;
		margin: 0px 40px;
	}
}

@media (max-width: 1170px){
	.bigimg{
		float: none;
		margin-left: 0px; 
	}
	.col3{
		text-align: center;
	}
	.inputSearch{
		padding: 8.5px 14px;
	}
	.nav-link{
		padding: 10px!important;
	}
	.inputSearch{
		padding: 8.5px 14px;
	}
	.nav-footer{
		padding: 10px 10px 10px 0px!important;
	}
	.row-images{
		width: 74%;
	}
}
