*{
	margin: 0;
	padding: 0;
    font-size: 20px;
	color: #808080;
}
body {
    background-color: #F0E4E4;
}

/* SECTION 1 -----------------------------------   */
#header{
	padding-top: 0.8rem!important; 
	padding-bottom: 0.8rem!important; 
	box-shadow: rgb(0 0 0 / 90%) 0px 0px 20px 0px;
}
.d-flex {
	background-color: #F93700;
}
.nav-item{
	transition: 0.5s;
}
.menu:hover{
	background-color: rgb(204, 44, 0);
	border-radius: 4px;
	color: white;
	cursor: pointer;
}
i{
	padding-right: 4px;
	transition: transform .6s;
}
i:hover{
	cursor: pointer;
	transform: scale(1.200); 
}

.nav-link{
	margin: 0px auto 0px auto;
	padding: 0px;
	color: rgb(255, 255, 255)!important;
}



.search-container{
	border: none;
	margin: 0px auto 0px auto;
}
.inputSearch{
	margin-top: 5px;
	padding: 8.5px 40px 8.5px 14px;
	border: none;
	font-size: 14px;
	outline: 0px solid transparent;
}
.button-search{
	border: none;
	float: right;
	padding: 4px 5px 4px 5px;
	margin-top: 5px;
	margin-right: 16px;
	background: #ddd;
	cursor: pointer;
}
.isearch{
	color: white;
	padding: 0px 16px 0px 16px;
}

/* SECTRION 2 */
.section2{
	max-width: 98.5%;
	margin: 40px auto;
}
.row{
	width: 100%;
}
.col-img-left{
	float: left;
}
.col-img-right{
	float: right;
}
.left-img2{
	padding-left: 0px!important;
}
.right-img2{
	padding-right: 0px!important;
}
.col{
	text-align: center;
}
.rooms-img{
	border-radius: 4px;
	width: 260px;
	height: 260px;
	box-shadow: 0px 0px 13px 4px #888888;
	transition: transform .6s;
}
.rooms-img:hover{
	cursor: pointer;
	transform: scale(1.089); 
}
.rooms-text{
	font-size: 20px;
	margin-top: 7px;
}


/* SECTRION 3 */
.col3{
	margin-bottom: 30px;
	text-align: left;
}
.col-bigimg{
	padding: 0px!important;
}
.text1{
	font-size: 40px;
	color: #F93700;
}
#orange-btn{
	background-color: #F93700;
	border: none;
	padding: 11px 15px;
	color: white;
}
#orange-btn:hover{
	background-color: rgb(179, 39, 0);
	cursor: pointer;
}

.bigimg{
	width: 800px;
	float: right;
	transition: transform .6s;
	border-radius: 4px;
	box-shadow: 0px 0px 13px 4px #888888;
}
.bigimg:hover{
	cursor: pointer;
	transform: scale(1.089); 
}

/* SECTRION 4 */
.section4{
	margin-top: 30px;
}
.advertise{
	margin-top: 30px;
	margin-bottom: 10px;
	width: 100px; 
	background-color: rgba(255, 255, 255, 1);
	border-radius: 100%;
	transition: transform .6s;
	padding: 10px;
}
.advertise:hover{
	cursor: pointer;
	transform: scale(1.095); 
}
.col1-p{
	font-size: 16px;
}

/* SECTION 5 */
.nav-footer{
	color: #808080!important;
	padding: 14px 10px!important;
	font-size: 14px;
}

.btn-call{
	color: black;
	border: none;
	background-color: #CAC3C3;
	border-radius: 5px;
	width: 120px;
	font-size: 16px;
	padding: 8px 10px;
	margin: 12px;
	transition: 0.6s;
}
.btn-call:hover{
	background-color: rgb(159, 147, 147);
	border-color: rgb(159, 147, 147);
	color: white;
	cursor: pointer;
}
.open-time{
	margin-top: 14px;
	font-size: 12px;
}